<div class="row"><div class="col-md-12">
  <h2><center><strong>Top Dogemon</strong></center></h2>
  <% i = 1 %>
  <% top_doge.each do |f| %>
  <div class="well wow fadeIn "><div class="row">
    <div class="col-md-3">
      <h3><strong><%= i.ordinalize %><br> <%= image_tag f.imageurl,  style: "max-height: 50px; max-width: 50px;" %></strong></h3>

    </div>
    <div class="col-md-9"><div class="pull-right"><%= link_to "Challenge?", pet_challenge_path(f), class: 'btn btn- btn-warning' %></div>
      <h3><strong>
        <%= link_to truncate(f.name, length:30), f %>
        </strong></h3>
      <% if f.ghost_wins.presence %>
      <h3 class="text-primary">
        WINS <%= f.ghost_wins + f.against_ghost_wins %>
      </h3>
      <% end %>
    </div>
    </div></div>
  <% i += 1 %>
  <% end %></div></div>