<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">

<%= image_tag("DogemonLogo.jpg", style: 'margin-top: -40px;', :class => "img-responsive main-image wow rubberBand") %>
<br>
<div class="well wow bounceIn"><h1>Such Exciting. Much Wow. How Spend. Much Battle.</h1></div>
<h3 class="wow shake">Dogemon is an online marketplace for user created content which is bought or sold with Dogecoin.

These items can then be used in the battle area, where pets/avatars can fight against other players or raid-like bosses.</h3>

<div class="row">
  <div class="col-md-6 columns wow wobble"><h3>Create exciting weapons and armor to use in the arena, with fully customizable stats and appearances.</h3></div>
  <div class="col-md-6 columns wow rotateIn"><%= image_tag("Dogebattle.PNG", height:400, width:400)%></div>
</div>
<div class="row">
    <div class="col-md-6 columns wow zoomInDown"><%= image_tag("Untitled-2.jpg", height:400, width:400)%></div>
  <div class="col-md-6 columns wow rollIn"><h3>Sell your creations in the online marketplace, where the community can buy and rate your items.</h3></div>
</div>
<div class="row">
    <div class="col-md-6 columns wow bounceInLeft"><h3>All transactions are done in Dogecoin. You can easily add or remove funds from your wallet.</h3></div>
  <div class="col-md-6 columns wow rotateInUpRight"><%= image_tag("Untitled-1.jpg", height:400, width:400)%></div>
</div>
<h1 class="wow tada">Join the glorious Revolution!</h1>
<%= link_to "Sign Up", "/users/sign_up", :class => "btn btn-primary" %>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.0.2/wow.min.js"></script>
<script>
 new WOW().init();
</script>
