<%= link_to "?", "#", class: 'btn btn-lg btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "Currently sorted by the Top 10 with the most Ghost Wins", 'data-placement' => 'bottom' %>
<div class="row"><div class="col-md-6">
<h1><center><strong>Top Ghosts</strong></center></h1>
<% i = 1 %>
<% @top_doge.each do |f| %>
  <div class="well "><div class="row ">
    <div class="col-md-3">
      <h1><strong><%= i.ordinalize %><br> <%= image_tag f.imageurl,  style: "max-height: 120px; max-width: 120px;" %></strong></h1>
      
    </div>
    <div class="col-md-9"><div class="pull-right"><%= link_to "challenge?", pet_challenge_path(f), class: 'btn btn- btn-warning' %></div>
      <h1><strong>
        <%= link_to f.name, f %>
        </strong></h1><h3 class="text-primary">
      WINS <%= f.ghost_wins %>
      </h3>
</div>
</div></div>
<% i += 1 %>
<% end %></div><div class="col-md-6">
<h1><center><strong>Top Ghosts Fighters</strong></center></h1>
<% i = 1 %>
<% @top_against_doge.each do |f| %>
  <div class="well "><div class="row ">
    <div class="col-md-3">
      <h1><strong><%= i.ordinalize %><br> <%= image_tag f.imageurl,  style: "max-height: 120px; max-width: 120px;" %></strong></h1>
      
    </div>
    <div class="col-md-9">
      <h1><strong>
        <%= link_to f.name, f %>
        </strong></h1><h3 class="text-primary">
      WINS <%= f.against_ghost_wins %>
      </h3>
    </div></div>
</div>
<% i += 1 %>
  <% end %></div></div>