<h1><i class="fa fa-money"></i> Wallet of <%= @user.dogetag %></h1>
<hr>
<h2><span class="label label-primary">
Balance: <%= @blockio["data"]["available_balance"].to_i %> 
  </span>
  </h2>

<h2>
My Address: <input type="text" size="40" value="<%= @blockio["data"]["address"] %> " onclick="this.select();" onchange="this.value='<%= @blockio["data"]["address"] %> ';">

</h2>
<hr>
<h2>
  Send: <input type="text" size="20" > <br><br>
  To:
  <input type="text" size="40" >
  <br><br>
  <%= link_to "Send", wallet_path, class: 'btn btn-success btn-lg' %>
</h2>

<hr>
<%= link_to "Buy Dogecoin", "https://weselldoges.com/" %>