<h1><i class="fa fa-money"></i> Wallet of <%= @user.dogetag %></h1>
<hr>
<% if !@user.block_io_wallet_id.presence %><h3>Set up your wallet now! This will create a Dogecoin wallet tied to your Dogemon account, which will allow you to buy and sell in the Market. Don't know what Dogecoin is? <%= link_to "Go to Dogecoin.com", "http://dogecoin.com/" %> to find out more about Dogecoin and the cryptocurrency revolution.
<br><%= link_to "Make my Dogemon wallet!", user_make_wallet_path(@user), class: 'btn btn-primary btn-lg' %></h3>
<% else %>
<h2><span class="label label-primary">
Dogecoin Balance: <%= @blockio["data"]["available_balance"].to_i %>
  </span>
  &nbsp;&nbsp;<a href="/dogecoin_intro"><i class="fa fa-question-circle"></i></a>
  </h2>

<h2>
My Address: <input type="text" size="40" value="<%= @blockio["data"]["address"] %> " onclick="this.select();" onchange="this.value='<%= @blockio["data"]["address"] %> ';">

</h2>
<hr>

<%= form_for [@user, Transaction.new] do |f| %><h2>
<%= f.hidden_field :user_id, value: current_user.id %>
Send an amount:
<%= f.text_field :amount, size: 40 %><br><br>
To: 
<%= f.text_field :address, size: 40 %><br><br>
<%= f.submit "Send", class: 'btn btn-lg btn-success' %>
<% end %>
</h2>
<% @user.transactions.each do |f| %>

<% end %>

<hr>
<%= link_to "How do Dogecoin work?", "http://dogecoin.com/" %> | <%= link_to "Buy Dogecoin", "https://weselldoges.com/" %> 
<% end %>


