<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

<div><%= f.label :dogetag %> <i>(this will be your gamer tag)</i><br />
  <%= f.text_field :dogetag %></div>

<%= f.label :profile_icon %><br />
    <%= f.radio_button(:imageurl, "http://i2.kym-cdn.com/entries/icons/original/000/002/691/Naamloos-1.gif" ) %>
     <%= image_tag("http://i2.kym-cdn.com/entries/icons/original/000/002/691/Naamloos-1.gif",height:55) %> 
    <%= f.radio_button(:imageurl, "http://i1.kym-cdn.com/entries/icons/square/000/013/564/aP2dv.gif") %>
     <%= image_tag("http://i1.kym-cdn.com/entries/icons/square/000/013/564/aP2dv.gif",height:55) %>
    <%= f.radio_button(:imageurl, "http://i.imgur.com/NUyttbn.gif") %>
    <%= image_tag("http://i.imgur.com/NUyttbn.gif",height:55) %>
    <%= f.radio_button(:imageurl, "http://www.stuffcoins.com/images/items/2765.gif") %>
    <%= image_tag("http://www.stuffcoins.com/images/items/2765.gif",height:55) %>

<div><%= f.label :bio %> <i>(write a little something about yourself)</i><br />
  <%= f.text_field :bio %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

  
  <div><%= f.submit "Update" %></div>
<% end %>
