<h1>
<%= link_to 'Start a New Guild', new_guild_path, class: 'btn btn-success btn-lg pull-right' %>Guilds <% if current_user.guild_id.presence %>
  <%= link_to guild_path(Guild.find(current_user.guild_id)), class: 'btn btn-primary btn-lg pull-' do %><%= fa_icon 'home' %> Go to my Guild <% end %><% end %>
  <a class="btn btn-lg btn-default" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <%= fa_icon 'search' %>
</a>
</h1>
<h2><center><%= User.all.count %> people playing Dogemon!</center></h2>
  <div class="collapse" id="collapseExample">
  <div class="well">
    
    <%= form_tag guilds_path, :method => 'get', class: 'pull-', style: 'padding-right: 10px;' do %>
  <%= text_field_tag :search, params[:search], placeholder: 'Find a guild', class: 'form-control', style: 'width: ;' %><br>
  <%= submit_tag "Search", class: 'btn-block btn btn-default', style: 'padding-right: 10px;' %>
    <% end %>
  </div>
</div><br>
<% @guilds.each do |guild| %>
<div class="well" style="background-size:cover; background-image: url(<%= guild.imageurl %>);">
  <h3 style="color: #fff; text-shadow: 2px 2px #000;">
    <%= link_to guild.name, guild %> <span class='label label-primary'>Members: <%= guild.users.count %></span> <span class='label label-success'>Rank: <%= Guild.all.sort_by(&:guild_wins).reverse.index(guild) + 1 %></span>
    <% if current_user.guild_id.presence and current_user.guild_id == guild.id %> <span class='label label-info'><%= fa_icon 'home' %> </span><% end %>
  </h3>
  <p style="color: #fff; text-shadow: 2px 2px #000;"><%= guild.description %></p>
</div>
<% end %>

<%= will_paginate @guild %>
<br>

