<%= form_for(@pet) do |f| %>
  <% if @pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% @pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= f.label :template_pet_id %>
  <%= f.select :element, ["Transistor", "Doge", "Cat"], {prompt: "Select a spirit"}, {class: "input-large form-control"} %>
<div id="custom_pet_field">
<p id="custom_pet_field">
  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
<div class="field">
  
  <%= f.radio_button :element, 'Sol', checked: true %>
  <%= f.label :element_sol %>
  <%= f.radio_button :element, 'Luna' %>
  <%= f.label :element_luna %>
  </div>

  <%= f.hidden_field :health, value: 100 %>

  <%= f.hidden_field :magic, value: 100, id: 'magic' %>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id %>
  </div>

</p>
<p id="template1_pet">
</p>
</div>
<div id="template_pet1_field">
  <h3>Transistor</h3>
  <p class="lead"><i>"He is smoking hot!"</i></p>
  <%= f.hidden_field :name, value: "Transistor" %>
  <%= f.hidden_field :description, value: "He is smoking hot!" %>
  <%= f.hidden_field :element, value: "Sol" %>
  <%= f.hidden_field :imageurl, value: "http://cdn.zmescience.com/wp-content/uploads/2014/09/bc635-transistor.png" %>
  <%= f.hidden_field :health, value: 100 %>
  <%= f.hidden_field :magic, value: 100 %>
  <%= f.hidden_field :user_id %>
</div>
<div id="template_pet2_field">
  <h3>Doge</h3>
  <p class="lead"><i>"To the moon!"</i></p>
  <%= f.hidden_field :name, value: "Doge" %>
  <%= f.hidden_field :description, value: "To the moon!" %>
  <%= f.hidden_field :element, value: "Luna" %>
  <%= f.hidden_field :imageurl, value: "http://upload.wikimedia.org/wikipedia/en/5/5f/Original_Doge_meme.jpg" %>
  <%= f.hidden_field :health, value: 100 %>
  <%= f.hidden_field :magic, value: 100 %>
  <%= f.hidden_field :user_id %>
</div>
<div id="template_pet3_field">
  <h3>Intense Breathing Cat</h3>
  <p class="lead"><i>"Pressure intensifies!"</i></p>
  <%= f.hidden_field :name, value: "Intense Breathing Cat" %>
  <%= f.hidden_field :description, value: "Pressure intensifies!" %>
  <%= f.hidden_field :element, value: "Terra" %>
  <%= f.hidden_field :imageurl, value: "http://images-cdn.9gag.com/photo/aKzNmOO_460s.jpg" %>
  <%= f.hidden_field :health, value: 100 %>
  <%= f.hidden_field :magic, value: 100 %>
  <%= f.hidden_field :user_id %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  $('select').change(alert_me_test);

  function alert_me_test(){
    var template_pet_choice = $(this).val(); 
    if (template_pet_choice == 0) {
      $('#custom_pet_field').show();
      $('#template_pet1_field').hide();
      $('#template_pet2_field').hide();
      $('#template_pet3_field').hide();
    }  
    if (template_pet_choice == "Transistor") {
      $('#custom_pet_field').hide();
      $('#template_pet1_field').show();
      $('#template_pet2_field').hide();
      $('#template_pet3_field').hide();
    }  
    if (template_pet_choice == "Doge") {
      $('#custom_pet_field').hide();
      $('#template_pet1_field').hide();
      $('#template_pet2_field').show();
      $('#template_pet3_field').hide();
    } 
    if (template_pet_choice == "Cat")  {
      $('#custom_pet_field').hide();
      $('#template_pet1_field').hide();
      $('#template_pet2_field').hide();
      $('#template_pet3_field').show();
    }
  }

</script>
