<p id="notice"><%= notice %></p>
<%= link_to image_tag(@pet.imageurl, width: "250px"), @pet %><br>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  Attack:
  <br>
  Defense:
  <br>
</p>
<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @pet.user_id %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
