<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
    <div class="well"><h4><%= element_icon(@pet.element) %>  <%= @pet.name %></h4>
      <%= link_to image_tag(@pet.imageurl, width: "225px"), @pet %><br>
      
      
      <p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>
    </div>
  </div>
  <div class="col-md-9">
      <h3>Spells</h3>
      
<% @pet.equipments.each do |f| %>
      <%= render partial: "items/item_pet_view", locals: { item: f.sale, equipment: f } %>
<% end %>
    </div>
</div>
<%= form_for [@pet, Equipment.new]  do |f| %>
<%= f.hidden_field :pet_id, value: @pet.id %>
<%= f.collection_select :sale_id, @sales, :id, :name, {prompt: "Select an item"}, {class: "form-control"} %>
 
<%= f.submit "Equip", class: 'btn btn-sm btn-primary' %>
<% end %>
<h4>Equiped</h4>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
