<%= form_for(@pvp_battle) do |f| %>
  <% if @pvp_battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pvp_battle.errors.count, "error") %> prohibited this pvp_battle from being saved:</h2>

      <ul>
      <% @pvp_battle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :dogetag %>
  </div>

  <div class="field">
    <%= f.label :other_id %><br>
    <%= f.collection_select :other_id, User.all, :id, :dogetag %>
  </div>

  <div class="field">
    <%= f.label :pet1_id %><br>
    <%= f.collection_select :pet1_id, Pet.all, :id, :name %>
  </div>

<div class="field">
    <%= f.label :pet2_id %><br>
    <%= f.collection_select :pet2_id, Pet.all, :id, :name %>
  </div>

    <%= f.hidden_field :battle_state, value: "in_progress" %>

    <%= f.hidden_field :user1_turn, value: true %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
