<h1>Battles (<%= PvpBattle.count %> total battles occuring in ProjectDoge )</h1>
<hr><div class="">
  <%= link_to 'Start a new battle', new_pvp_battle_path, class: 'btn btn- btn-primary' %>
<br>
</div>
<h3>On Going Battles</h3>
<% current_user.pvp_battles.each do |f| %>

  <% if f.other.presence and f.pet2.presence and f.battle_state != 'completed' %>
<div class="well">
  <%= link_to f.user.dogetag + "'s " + f.pet1.name + " against " + f.other.dogetag + "'s " + f.pet2.name, f %><br>
<%= f.whose_turn(current_user.id) %>
</div>
  <% end %>

<% end %>
<% current_user.pvp_battles_p2.each do |f| %>
<p>
  <% if f.other.presence and f.pet2.presence and f.battle_state != 'completed' %>
  <div class="well">
  <%= link_to f.user.dogetag + "'s " + f.pet1.name + " against " + f.other.dogetag + "'s " + f.pet2.name, f %><br>
  <%= f.whose_turn(current_user.id) %>
    </div>
  <% end %>
</p>
<% end %>
<h3>Pending Battle Requests</h3>
<% current_user.pvp_battles.each do |f| %>
<p>
  <% if !f.other.presence or !f.pet2.presence %><div class="well">
<%= link_to "Pending", f %> request with <%= link_to f.other.dogetag, f.other %> | <%= link_to "Cancel", f, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
  <% end %>
</p>
<% end %>
<% current_user.pvp_battles_p2.each do |f| %>
<p>
  <% if !f.other.presence or !f.pet2.presence %><div class="well">
  <%= link_to "Respond to a request to battle from", f %> <%= link_to f.other.dogetag, f.other %> | <%= link_to "Cancel", f, method: :delete, data: { confirm: 'Are you sure?' } %>
 </div>
  <% end %>
</p>
<% end %>
<h3>Completed Battles</h3>
<% current_user.pvp_battles.each do |f| %>
<p>
  <% if f.battle_state == 'completed' %>
  <%= link_to "Completed", f %> (The winner was <%= User.find(f.winner_id).dogetag %>)
  <% end %>
</p>
<% end %>
<% current_user.pvp_battles_p2.each do |f| %>
<p>
  <% if f.battle_state == 'completed' %>
  <%= link_to "Completed", f %> (The winner was <%= User.find(f.winner_id).dogetag %>)
  <% end %>
</p>
<% end %>

<% if current_user.pets.count == 0 %>
<center><h4>Looks like you have no spirits in your pack. <br>You can start battling once you have a spirit pet! <br><%= link_to "Click here to discover a new spirit!", new_pet_path %>
  <% else %>
<br>

  <% end %>
</div>

