<h1>Listing pvp_battles</h1>

<table class="table">
  <thead>
    <tr>
      <th>User 1</th>
      <th>User 2</th>
      <th>Pet 1</th>
      <th>Pet 2</th>
      <th>Winner</th>
      <th>Battle state</th>
      <th>Current Turn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pvp_battles.each do |pvp_battle| %>
      <tr>
        <td><%= pvp_battle.user.dogetag %></td>
        <td><%= pvp_battle.other.dogetag %></td>
        <td><%= pvp_battle.pet1_id %></td>
        <td><%= pvp_battle.pet2_id %></td>
        <td><%= pvp_battle.winner_id %></td>
        <td><%= pvp_battle.battle_state %></td>
        <td><%= pvp_battle.user1_turn %></td>
        <td><%= link_to 'Show', pvp_battle %></td>
        <td><%= link_to 'Edit', edit_pvp_battle_path(pvp_battle) %></td>
        <td><%= link_to 'Destroy', pvp_battle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pvp battle', new_pvp_battle_path %>
