<p id="notice"><%= notice %></p>
<% if @pvp_battle.battle_state == "completed" %>
<div class="row">
<div class="well col-md-6 col-md-offset-3">
  <h3><center>The winner is <%= User.find(@pvp_battle.winner_id).dogetag %>!</center></h3>
  Last move: <%= @pvp_battle.battle_logs.last.description %>
</div>
</div>
<% end %>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.1.1/animate.min.css">
<% if @pvp_battle.battle_state == "in_progress"  %>
<center>Current Regen: 10  | <%= link_to "Refresh Page", @pvp_battle %> <% link_to 'Restore Health', pvp_battle_restore_health_path(@pvp_battle) %> <% link_to 'Force Regen', pvp_battle_apply_regen_path(@pvp_battle, amount: 10.0) %></center><br>
<div class="well">
    <div class="row">
  <div class="col-md-6">
    <center><h3><%= @pvp_battle.user.dogetag %><% if current_user.id == @pvp_battle.user_id %> (you) <% end %></h3>
      <%= render partial: "pets/pet_overview", locals: { pet: @pvp_battle.pet1 } %>    </center>

   

  </div>
  <div class="col-md-6">
    
    <center><h3><%= @pvp_battle.other.dogetag %><% if current_user.id == @pvp_battle.other_id %> (you) <% end %></h3>
       <%= render partial: "pets/pet_overview", locals: { pet: @pvp_battle.pet2 } %>    </center>
   
    </div>
  </div>
</div>

<% if @pvp_battle.battle_state != "completed" %>
<div class="row">
  <div class="well col-md-6 col-md-offset-3"><h3><center><%= @pvp_battle.whose_turn(current_user.id) %></center></h3></div>
</div>

 <% if @pvp_battle.user1_turn && current_user == @pvp_battle.user %>
<div class="row">
      <% @pvp_battle.pet1.equipments.each do |f| %>
        <%= render partial: "items/item_battle_view", locals: { item: f.sale, equipment: f } %>
      <% end %>
</div>
        <%= form_for [@pvp_battle, BattleLog.new], html: { id: 'form_id3' } , class: "form form-inline  form-horizontal ", url: {bMessage: false, controller: :battle_logs, pvp_battle_id: @pvp_battle.id, amount: 0, magic_amount: 0, attacker: 2, defender: 2 } do |f| %> 
          <%= f.hidden_field :pvp_battle_id %>
          <%= f.hidden_field :description, value: @pvp_battle.pet1.name + " skips its turn. " %>
          <%= f.hidden_field :bMessage, value: 'false' %>
          <%= f.submit "Skip turn?", class: "btn btn-block btn-default" %>
        <% end %>
    <% end %>

<% if !@pvp_battle.user1_turn && current_user == @pvp_battle.other %>
  <div class="row">
       <% @pvp_battle.pet2.equipments.each do |f| %>
           <%= render partial: "items/item_battle_view_user2", locals: { item: f.sale, equipment: f } %>
        <% end %>
    </div>
        <%= form_for [@pvp_battle, BattleLog.new], html: { id: 'form_id2' } , class: "form form-inline  form-horizontal ", url: {bMessage: false, controller: :battle_logs, pvp_battle_id: @pvp_battle.id, amount: 0, magic_amount: 0, attacker: 2, defender: 2 } do |f| %> 
          <%= f.hidden_field :pvp_battle_id %>
          <%= f.hidden_field :description, value: @pvp_battle.pet2.name + " skips its turn. " %>
          <%= f.hidden_field :bMessage, value: 'false' %>
          <%= f.submit "Skip turn?", class: "btn btn-block btn-default" %>
        <% end %>
    <% end %>
        <%= form_for [@pvp_battle, BattleLog.new], html: { id: 'form_id5' } , class: "form form-inline  form-horizontal ", url: {bMessage: false, controller: :battle_logs, pvp_battle_id: @pvp_battle.id, amount: 0, magic_amount: 0, attacker: 2, defender: 2, forfeit: 1, forfeit_id: current_user.id } do |f| %>
          <%= f.hidden_field :pvp_battle_id %>
<%= f.hidden_field :description, value: current_user.dogetag + " forfeits. " %>
          <%= f.hidden_field :bMessage, value: 'false' %>
          <%= f.submit "Forfeit the game?", class: "btn btn-block btn-default", data: { confirm: 'Are you sure you want to forfeit the battle? It will count as a loss. No moon for you, shibe.' } %>
        <% end %>



  <!-- previously, the entire history of the battle could be seen. I think the log should only show the most recent log, but after the battle is over, you can see the entire history -->
<center><h3>Battle Log</h3></center>
<% if current_user == @pvp_battle.user or current_user == @pvp_battle.other %>
  <%= form_for [@pvp_battle, BattleLog.new], html: { id: 'form_id' } , url: {user_id: current_user.id,  controller: :battle_logs, pvp_battle_id: @pvp_battle.id } do |f| %> 
    <%= f.hidden_field :pvp_battle_id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.text_field :description, class: "form-control" %>
    <%= f.hidden_field :bMessage, value: 'true' %>
  <%= f.submit "Send", class: "btn btn-block btn-default" %>
  <% end %>
  <% @battle_logs.order("created_at desc").each do |f| %>
  <p>
    <%= f.created_at.strftime("%I:%M %p") %> - <% if f.user_id.presence %><%= User.find(f.user_id).dogetag %>: <% end %>
    <%= f.description %>
  </p>
<% end %>
<% end %>
<br>
<% end %>

<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.0.2/wow.min.js"></script>
<script>
 new WOW().init();
</script>

<% elsif @pvp_battle.battle_state != "completed" %>

<!-- logic for other using picking their pet or whatever -->
<h2>
<%= image_tag(@pvp_battle.pet1.imageurl, width: "225px") %><br>Request for battle from <strong><%= @pvp_battle.user.dogetag %></strong> against <strong><%= @pvp_battle.other.dogetag %></strong><br>
  <strong><%= @pvp_battle.user.dogetag %></strong> has chosen their Dogemon named <strong><%= @pvp_battle.pet1.name %></strong> to fight with<br>

<% if @pvp_battle.other == current_user %>
  <%= @pvp_battle.other.dogetag %>, choose a spirit:
    <% @pvp_battle.other.pets.each do |a| %>
      <% if a.pvp_battle == nil or a.pvp_battle == 0 %>
        <%= form_for @pvp_battle, url: pvp_battle_set_pet2_path(@pvp_battle), method: :update do |f| %>
        <div class="well"><%= image_tag(a.imageurl, width: "100px") %> <%= a.name %>
            <%= f.hidden_field :pet2_id, value: a.id %>
        <%= f.submit "Commence battle" %>
          </div>
      <% end %>
    <% end %>
  <% end %>
  <% form_for @pvp_battle, url: pvp_battle_set_pet2_path(@pvp_battle), method: :update do |f| %>
  <% f.collection_select :pet2_id, current_user.pets.all, :id, :name, {prompt: "Select an spirit"}, {class: "input-large form-control"} %>
  <% f.submit %>
  <% end %>


    <br><%= @pvp_battle.pet2_id %><br>

    Or, <%= link_to "Decline", @pvp_battle, method: :delete, data: {confirm: 'Are you sure, shibe? No moon for you.'} %>
  <% end %>
<% end %>
