<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @notification.user_id %>
</p>

<p>
  <strong>Other:</strong>
  <%= @notification.other_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @notification.content %>
</p>

<p>
  <strong>Notification url:</strong>
  <%= @notification.notification_url %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @notification.image_url %>
</p>

<p>
  <strong>B read:</strong>
  <%= @notification.b_read %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
