<div class="well"><div class="pull-right"><h4><%= User.count %> people playing Dogemon</h4></div><%= form_tag users_path, :method => 'get' do %>
 <p>Find a player 
  <%= text_field_tag :search, params[:search] %>
   <%= submit_tag "Search", :dogetag => nil %>
  </p>
  <% end %><hr>
<% @users.each do |f| %>
<h2>
  <div><%= image_tag f.imageurl, width: 50 %>
    <%= link_to f.dogetag, f %> <div class="btn btn-primary" style="float:right" >Add Friend</div></div>

</h2>
<% end %>
<%= will_paginate @user %>
</div>