<h1><%= fa_icon 'cog' %> Moderation Panel</h1>
<hr>
<h4>Site Stats</h4>
<p>
  Total Users: <%= User.all.count %><br>
  Total Battles: <%= Battle.all.count %><br>
  Total Dogemon: <%= Pet.all.count %>
</p>
<hr>
<h4><%= link_to "Remove Battle Logs", user_remove_battle_logs_path(current_user) %></h4>
<hr>
<h4>Items Blocked For Moderation</h4>
<% Item.mod_blocked.each do |f| %>
<div class='well'>
<%= link_to f.name, f %>
</div>
<% end %>