<p id="notice"><%= notice %></p>
<h1>
  <%= image_tag(@user.imageurl, height: 55) %>
  <%= @user.dogetag %>
<%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-sm btn-default pull-right" %> 
 <%= link_to  logout_path, class: "btn btn-sm btn-default pull-right", :method => :delete do %><i class="fa fa-arrow-left"></i> Log out<% end %> 
  <span class="label label-warning">Dogecoin: <%= @blockio["data"]["available_balance"].to_i %></span> 
  <span class="label label-success">Fauxcoin: <%= @user.coin %></span>

</h1><br>
<div class="row"><div class="panel panel-default">
  <div class="panel-heading"><h2><%= link_to "Spirits", pets_path %></h2></div><div class="panel-body">
  <% @user.pets.each do |pet| %><div class="col-md-3"><div class="well"><center><h4 style="margin: 0"><%= pet.name %></h4><br>
  <%= link_to image_tag(pet.imageurl, height: "150px"), pet %><br>
  <%= truncate(pet.description, length: 12) %><p><% if pet.pvp_battle.presence %><h4><%= link_to pet.pvp_battle do %>In battle with <%= pet.pvp_battle.other.dogetag %><% end %><% else %><h3><span class="label label-success">Relaxing<% end %></h3></p>
        <td><%= link_to 'Show', pet %></td>
        <td><%= link_to 'Edit', edit_pet_path(pet) %></td>
        <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </div>
  </div>
    <% end %>
  <% if @user.pets.count == 0 %><center><h4>Looks like you have no spirits in your pack. <%= link_to "Click here to discover a new spirit!", new_pet_path %><% end %>
</div>
    </div>
  
  
<div class="row">
  <div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">
  <h2><i class="fa fa-magic"></i> Magic Scrolls</h2><%= link_to 'sell all', user_sell_all_path(@user) %>
  </div>
<div class="panel-body">
<% @sales.each do |f| %>
  <% if Item.exists?(id: f.item_id) %>
    <p>
      <%= link_to image_tag(Item.find(f.item_id).imageurl, width: "50px"), Item.find(f.item_id) %>
      <%= link_to Item.find(f.item_id).name, Item.find(f.item_id) %> | 
      <%= link_to "X", sale_path(f, user_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' }  %>
    </p>
  <% end %>
<% end %>
</div>
  </div>
    
    
    <div class="panel panel-default">
<div class="panel-heading">
  <h2><i class="fa fa-magic"></i> Creator of these magic scrolls</h2>
  </div>
<div class="panel-body">
  <% @user.items.each do |f| %>
  <p>
    Creator of <%= link_to f.name, f %>
  </p>
  <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    
    
    <div class="panel panel-default">
<div class="panel-heading">
<h2>Adventure Log</h2>
      </div>
<div class="panel-body">
<%= form_for [@user, Log.new], url: {controller: :logs, user_id: @user.id } do |f| %>
<%= f.hidden_field :user_id %>
<%= f.label :content %>
<%= f.text_area :content %>
<%= f.submit %>
<% end %>
<% @user.logs.each do |f| %>
<p><strong><%= time_ago_in_words(f.created_at) %></strong> <%= f.content %></p>
<% end %>
  </div>
</div>
</div>
</div>