<p id="notice"><%= notice %></p>
<h1>
  <%= image_tag(@user.imageurl, height: 55) %>
  <%= @user.dogetag %>
</h1>
  <% if current_user == @user %>
<h1>
<%= link_to "Edit Profile", edit_user_registration_path(@user), class: "btn btn-sm btn-default pull-right" %> 
 <%= link_to  logout_path, class: "btn btn-sm btn-default pull-right", :method => :delete do %><i class="fa fa-arrow-left"></i> Log out<% end %> 
  <% if @user.block_io_wallet_id.presence %>  <span class="label label-warning">Dogecoin: <%= @blockio["data"]["available_balance"].to_i %></span> 
    </h1>
  <% end %>
</h1><br>
<div class="row"><div class="panel panel-default">
  <div class="panel-heading"><div class="pull-right"><% if @user.pets.count < 4 %><%= link_to "find a new dogemon", new_pet_path, class: 'pull- btn btn-default' %><% end %></div><h2>Dogemon</h2></div><div class="panel-body">
  <% @user.pets.each do |pet| %><div class="col-md-3"><div class="well"><center><h4 style="margin: 0"><%= element_icon(pet.element) %> <%= pet.pvp_battle_id %><%= pet.name %></h4><br>
  <%= link_to image_tag(pet.imageurl, class: 'btn', height: "150px"), pet %><br>
  <%= truncate(pet.description, length: 12) %><p><% if pet.pvp_battle.presence %><h4><%= link_to pet.pvp_battle do %>In battle with <%= pet.pvp_battle.other.dogetag %><% end %><% else %><h3><span class="label label-success">Relaxing<% end %></h3></p>
        
  </div>
  </div>
    <% end %>
  <% if @user.pets.count == 0 %><center><h4>Looks like you have no spirits in your pack. <%= link_to "Click here to discover a new spirit!", new_pet_path %><% end %>
</div>
    </div>
  
  
<div class="row">
  <div class="col-md-6">
<div class="panel panel-default">
<div class="panel-heading">
  <h2><i class="fa fa-suitcase"></i> Inventory</h2>
  </div>
<div class="panel-body">
  <% if @user.sales.count == 0 %>
  <%= link_to "Open my booster pack!", user_get_booster_path(@user), class: 'btn btn-primary btn-lg' %>
  <% end %>
<% @sales.each do |f| %>
  <% if Item.exists?(id: f.item_id) %>
    <p>
      <%= link_to image_tag(Item.find(f.item_id).imageurl, width: "50px"), Item.find(f.item_id) %>
      <%= link_to Item.find(f.item_id).name, Item.find(f.item_id) %> <% if f.equipment.presence and f.equipment.pet.presence %>| Equipped by: <%= f.equipment.pet.name %><% end %> | 
      <%= link_to "Toss", sale_path(f, user_id: @user.id), method: :delete, data: { confirm: 'Are you sure?' }  %>
    </p>
  <% end %>
<% end %>
</div>
  </div>
    
    
    <div class="panel panel-default">
<div class="panel-heading">
  <h2><i class="fa fa-paint-brush"></i> Creator of these magic scrolls</h2><br>Coin made: <%= @user.coin_made %>
  </div>
<div class="panel-body">
  <% @user.items.each do |f| %>
  <p>
    Creator of <%= link_to f.name, f %>
  </p>
  <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    
    
    <div class="panel panel-default">
<div class="panel-heading">
<h2>Adventure Log</h2>
      </div>
<div class="panel-body">
<%= form_for [@user, Log.new], url: {controller: :logs, user_id: @user.id } do |f| %>
<%= f.hidden_field :user_id %>
<%= f.label :content %>
<%= f.text_area :content %>
<%= f.submit %>
<% end %>
<% @user.logs.each do |f| %>
<p><strong><%= time_ago_in_words(f.created_at) %></strong> <%= f.content %></p>
<% end %>
  </div>
</div>
</div>
<<<<<<< HEAD
  </div></h1>
  <% else %>
  </h1>
  <div class="panel panel-default">
  <div class="panel-heading"><h2>Dogemon</h2></div>
    <div class="panel-body">
      <% @user.pets.each do |pet| %><div class="col-md-3"><div class="well"><center><h4 style="margin: 0"><%= element_icon(pet.element) %><%= pet.name %></h4><br>
  <%= image_tag(pet.imageurl, class: '', height: "150px") %><br>
  <%= pet.description %><p></p>  
  </div>
  </div>  
   <% end %>
  </div>
  </div>
    <!--    END OF DOGEMON CONTAINER -->
=======
</div>
  </h1><% else %>
  <div class="row"><div class="panel panel-default">
  <div class="panel-heading">
    <h2>Dogemon</h2></div><div class="panel-body">
  <% @user.pets.each do |pet| %>
    <div class="col-md-3"><div class="well"><center><h4 style="margin: 0"><%= element_icon(pet.element) %> <%= pet.pvp_battle_id %><%= pet.name %></h4><br>
  <%= image_tag(pet.imageurl, class: 'btn', height: "150px") %><br>
  <%= truncate(pet.description, length: 12) %><p></h3></p>
   
    
  </div></div>
    <% end %>
    </div>
  </div>
    
>>>>>>> 6c542333330a0c1f55e3ff19731939ef0acad19b
    
    <div class="panel panel-default">
<div class="panel-heading">
  <h2><i class="fa fa-paint-brush"></i> Creator of these magic scrolls</h2>
  </div>
<div class="panel-body">
  <% @user.items.each do |f| %>
  <p>
    Creator of <%= link_to f.name, f %>
  </p>
  <% end %>
      </div>
    </div>
<<<<<<< HEAD
  </div>
  
    <% end %>
=======
  <% end %>
>>>>>>> 6c542333330a0c1f55e3ff19731939ef0acad19b
