<%= form_for(@bounty) do |f| %>
  <% if @bounty.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bounty.errors.count, "error") %> prohibited this bounty from being saved:</h2>

      <ul>
      <% @bounty.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>
  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.collection_select :pet_id, current_user.pets.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :number_of_bounties %><br>
    <%= f.number_field :number_of_bounties %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
