<%= form_for(@battle_move) do |f| %>
  <% if @battle_move.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battle_move.errors.count, "error") %> prohibited this battle_move from being saved:</h2>

      <ul>
      <% @battle_move.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :battle_id %><br>
    <%= f.number_field :battle_id %>
  </div>
  <div class="field">
    <%= f.label :attacker_id %><br>
    <%= f.number_field :attacker_id %>
  </div>
  <div class="field">
    <%= f.label :defender_id %><br>
    <%= f.number_field :defender_id %>
  </div>
  <div class="field">
    <%= f.label :move_type %><br>
    <%= f.text_field :move_type %>
  </div>
  <div class="field">
    <%= f.label :move_amount %><br>
    <%= f.number_field :move_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
