<h1>Listing battle_moves</h1>

<table>
  <thead>
    <tr>
      <th>Battle</th>
      <th>Attacker</th>
      <th>Defender</th>
      <th>Move type</th>
      <th>Move amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @battle_moves.each do |battle_move| %>
      <tr>
        <td><%= battle_move.battle_id %></td>
        <td><%= battle_move.attacker_id %></td>
        <td><%= battle_move.defender_id %></td>
        <td><%= battle_move.move_type %></td>
        <td><%= battle_move.move_amount %></td>
        <td><%= link_to 'Show', battle_move %></td>
        <td><%= link_to 'Edit', edit_battle_move_path(battle_move) %></td>
        <td><%= link_to 'Destroy', battle_move, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Battle move', new_battle_move_path %>
