<%= form_for(@ghost) do |f| %>
  <% if @ghost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ghost.errors.count, "error") %> prohibited this ghost from being saved:</h2>

      <ul>
      <% @ghost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_id %><br>
    <%= f.number_field :pet_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :health %><br>
    <%= f.text_field :health %>
  </div>
  <div class="field">
    <%= f.label :magic %><br>
    <%= f.text_field :magic %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :element %><br>
    <%= f.text_field :element %>
  </div>
  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>
  <div class="field">
    <%= f.label :battle_id %><br>
    <%= f.number_field :battle_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
