<%= form_for(@battle) do |f| %>
  <% if @battle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>

      <ul>
      <% @battle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.collection_select :user_id, User.all, :id, :email %> 
  </div>
  <div class="field">
    <%= f.label :enemy_id %><br>
    <%= f.collection_select :enemy_id, Enemy.all, :id, :name %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
