<%= form_for(@votable_item) do |f| %>
  <% if @votable_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@votable_item.errors.count, "error") %> prohibited this votable_item from being saved:</h2>

      <ul>
      <% @votable_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :upvotes, value: 0 %>
  <%= f.hidden_field :downvotes, value: 0 %>
  <%= f.hidden_field :sumvotes, value: 0 %>
  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :worth %><br>
    <%= f.text_field :worth %>
  </div>
<%= f.hidden_field :creator_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
