<%= form_for(@votable_item) do |f| %>
  <% if @votable_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@votable_item.errors.count, "error") %> prohibited this votable_item from being saved:</h2>

      <ul>
      <% @votable_item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :upvotes, value: 0 %>
  <%= f.hidden_field :downvotes, value: 0 %>
  <%= f.hidden_field :sumvotes, value: 0 %>
  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
 <input id="ex1" data-slider-id='ex1Slider' data-slider-tooltip="hide"  type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="12"/>
<span id="ex1Var"><span id="ex6SliderVal">3</span></span><br>
<input id="ex2" data-slider-id='ex1Slider' data-slider-tooltip="hide"  type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="5"/>
<span id="ex2Var"><span id="ex6SliderVal">3</span></span><br>
<input id="ex3" data-slider-id='ex1Slider' data-slider-tooltip="hide"   type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="3"/>
<span id="ex3Var"><span id="ex6SliderVal">3</span></span><br>
  <script>
    // With JQuery
$("#ex1").slider();
    $("#ex2").slider();
    $("#ex3").slider();

var ex1Val1 = 10;
    var ex2Val = 10;
    var ex3Val = 10;
    
$("#ex1").on("slide", function(slideEvt) {

  $("#ex1Var").text(slideEvt.value);
  $("#ex2Var").text(20 - slideEvt.value);
  $("#ex3Var").text(20 - slideEvt.value);
  thing = $("#ex2").slider('getValue');
  $("#ex2").slider('setValue', 20 - slideEvt.value);
  $("#ex3").slider('setValue', 20 - slideEvt.value);
  
  
  $("#ex1Var").text(slideEvt.value);
  ext1Val = $("#ex1").slider('getValue');
  //alert(ext1Val);
  var diff = $("#ex2").value / $("#ex3").value;
  
});

    
  
$("#ex2").on("slide", function(slideEvt) {
  $("#ex1Var").text(slideEvt.value);
  $("#ex2Var").text(slideEvt.value);
  $("#ex3Var").text(slideEvt.value);
  $("#ex1").slider('setValue', (20 - slideEvt.value));
  $("#ex3").slider('setValue', (20 - slideEvt.value));
});

</script>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :worth %><br>
    <%= f.text_field :worth %>
  </div>
<%= f.hidden_field :creator_id, value: current_user.id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
