<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :creator_id, value: current_user.id %>
<% if @item.downloads == nil %>
<%= f.hidden_field :downloads, value: 0 %>
<% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
<div class="field">
    <%= f.label :element %><br>
  <%= f.select :element, ["Sol", "Luna", "Terra"], {prompt: "Select a element"}, {class: "input-large form-control"} %>
  </div>
<div class="field">
  <%= f.label :utility_type %><br>
  <%= f.select :utility_type, ["Attack", "Drain", "Heal"], {prompt: "Select a utility"}, {class: "input-large form-control"} %>
  </div>
<div class="field">
  <%= f.label :power %><br>
    <%= f.select :attack, [5, 10, 15, 20, 25, 30, 40, 50], {prompt: "Select a power"}, {class: "input-large form-control"}  %>
  </div>

    <%= f.hidden_field :magic %>
    <%= f.hidden_field :worth %>

  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
