<%= form_for(@item) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :creator_id, value: current_user.id %>
<% if @item.downloads == nil %>
<%= f.hidden_field :downloads, value: 0 %>
<% end %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
<div class="field">
    <%= f.label :element %><br>
  <%= f.select :element, ["Sol", "Luna", "Terra"], {prompt: "Select a element"}, {class: "input-large form-control"} %>
  </div>
<div class="field">
    <%= f.label :attack %><br>
    <%= f.select :attack, [10, 20, 30, 40, 50, 60, 70, 80, 90, 100], {prompt: "Select a attack"}, {class: "input-large form-control"}  %>
  </div>
<div class="field">
    <%= f.label :magic %><br>
    <%= f.select :magic, [10, 20, 30, 40, 50, 60, 70, 80, 90, 100], {prompt: "Select a magic"}, {class: "input-large form-control"}  %>
  </div>
  <div class="field">
    <%= f.label :worth %><br>
    <%= f.text_field :worth %>
  </div>
  <div class="field">
    <%= f.label :imageurl %><br>
    <%= f.text_field :imageurl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
