<h1>Edit Item Description &amp; Image</h1>

<%= bootstrap_form_for(@item) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

  <ul>
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>
<%= f.hidden_field :creator_id, value: current_user.id %>
<% if @item.downloads == nil %>
<%= f.hidden_field :downloads, value: 0 %>
<% end %>
<div class="field">
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.text_area :description %>
</div>
<div class="field">
  <%= f.check_box :b_original_art, label: 'Original Art' %>
</div>
<div class="field">
  <%= f.hidden_field :element %>
  <%= f.hidden_field :utility_type %>
  <%= f.hidden_field :attack %>
  <%= f.hidden_field :magic %>
  <%= f.hidden_field :worth %>
  <div class="field">
    <%= f.text_field :imageurl %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
  <%= link_to 'Cancel', @item %> 
