<p id="notice"><%= notice %></p>
<h1><i class="fa fa-shopping-cart"></i> Marketplace | <%= link_to "Workshop", votable_items_path %></h1>
<div class="navbar -default">
<ul class="nav navbar-nav">
  <li><%= link_to "New", items_path %></li>
  <li><%= link_to "Attack", items_path %></li>
  <li><%= link_to "Heal", items_path %></li>
  <li><%= link_to "Drain", items_path %></li>
  <li><%= link_to "Top Downloaded", items_path %></li>
  <li><%= link_to "Factory", votable_items_path %></li>
  
</ul>
<ul class="nav navbar-nav navbar-right">
  <li><%= link_to items_path do %><i class="fa fa-list"></i> <% end %></li>
  <li><%= link_to items_grid_path do %><i class="fa fa-th"></i> <% end %></li>
  
</ul>
</div><hr>


<table class='table table-hover'>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th><%= fa_icon 'tag' %></th>
      <th><%= fa_icon 'user' %></th>
      <th><%= fa_icon 'calendar' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.reverse.each do |item| %>
      <tr>
        <td><%= link_to image_tag(item.imageurl, width: "50px"), item %></td>
        <td><%= item_element_button(item.element, truncate(item.name, length: 15), item) %></td>
        <td><%= item.description %></td>
        <td><%= item.utility_type %> <%= item.attack %> / Magic <%= item.magic %></td>
        <td><%= item.worth %></td>
        <td>By <%= link_to item.creator.dogetag, item.creator %></td>
        <td><%= link_to item, class: 'btn btn-default' do %><%= fa_icon 'heart' %><% end %></td>
        <td><%= link_to item, class: 'btn btn-default' do %><%= fa_icon 'arrow-up' %><% end %></td>
        <td><%= link_to item, class: 'btn btn-default' do %><%= fa_icon 'arrow-down' %><% end %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Item', new_item_path %>
