<div class="col-md-6 col-md-offset-3">
  <% if @item.b_mod_blocked %>
  <p class='lead text-warning'>This item blocked for moderation</p>
  <% end %>
  <div class="well">
    <div class="row">
      <div class="col-md-6">
        <h2><%= element_icon(@item.element) %> <%= @item.name %> </h2>
        <% if @item.creator.presence %><h5>By <%= link_to @item.creator.dogetag, @item.creator %></h5><% end %>
      </div>
      <div class="col-md-6">
        <h3>
          <div class="pull-right">
            <span class="pull- label label-warning"><i class='fa fa-tag'></i> <%= @item.worth %></span> 
            <span class="label label-default pull-"><i class='fa fa-download'></i> <%= @item.downloads %></span> 
          </div>
        </h3>
      </div>
    </div>
    <center> 
      <%= image_tag(@item.imageurl, class: 'img-responsive' ) %> 
      <% if @item.b_original_art %><h4><span class="label label-primary"><i class='fa fa-star'></i> Original Artwork</span></h4><% end %>
    </center>
    <center> <h2><%= @item.utility_type %> <%= @item.attack %> / Magic <%= @item.magic %></h2>
      <p class="lead"><i>"<%= @item.description %>"</i></p><% if @item.creator.presence %>
      <% end %>
      <% if user_signed_in? %>
      <% user_dogecoin = BlockIo.get_user_balance user_id: current_user.block_io_wallet_id %>
      <% if user_dogecoin['data']['available_balance'].to_i > @item.worth %>
      <p>
        <%= form_for [@user, @item, Sale.new], url: {controller: :sales, user_id: current_user.id, item_id: @item.id} do |f| %>
        <%= f.hidden_field :user_id %>
        <%= f.hidden_field :item_id %>
        <%= f.submit "Buy", class: 'btn btn-success btn-raised btn-lg btn-block' %>
        <% end %>
      </p>
      <% else %>
      <%= link_to "Insufficient Dogecoin", wallet_path, class: 'btn btn-danger btn- btn-block btn-raised' %>
      <% end %>
      <% if user_signed_in? and @item.creator == current_user %><center>You are the creator of this item.</center>
      <%= link_to "Update Item", edit_item_path(@item), class: 'btn btn-primary btn- btn-block btn-raised' %><br>
      <% end %>
      <% if user_signed_in? and current_user.b_mod %>
      <% if @item.b_mod_blocked == nil or @item.b_mod_blocked == false %>
      <%= link_to item_mod_block_path(@item), class: 'btn btn-warning btn-block' do %><%= fa_icon "ban" %> Ban (Hide From Site) <% end %>
      <% else %>
      <%= link_to item_mod_block_path(@item), class: 'btn btn-warning btn-block' do %><%= fa_icon "eye" %> Un-ban (Show On Site) <% end %>
      <% end %><br>
      <% end %>
      <br>
      <p><%= link_to 'Back to Marketplace', items_grid_path, class: 'btn btn-default btn-block' %></p></center>
    This is a product information page where you can buy more of this item if you have the funds. To see if you already own this item, go into your <%= link_to 'inventory', current_user %> to check. 
    <% end %>
  </div>