<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<%= f.hidden_field :user_id, value: current_user.id %>
<div class="field">
  Title: <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="field">
    Content: <%= f.text_area :description, rows: 3, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit "Submit Blog Entry", class: 'btn btn-default btn-block' %>
  </div>
<% end %>
