<h1>Listing towns</h1>


    <% @towns.each do |town| %>

        <%= image_tag(town.image_url, width: "450px") %><br>
        <h3><%= town.name %></h3>
        <p><%= town.description %></p>
        <p><%= link_to 'Show', town %> | 
        <%= link_to 'Edit', edit_town_path(town) %> | 
       <%= link_to 'Destroy', town, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </tr>
    <% end %>

<br>

<%= link_to 'New Town', new_town_path %>
