<!-- Town Show -->
<!-- Town Show -->
<!-- Town Show -->

<div class='row'>
  <div class='col-md-3'>
    <center><br><br><br><br>
      <% if Town.where(x_coordinate: @town.x_coordinate - 1, y_coordinate: @town.y_coordinate).first.presence %>
      <%= link_to Town.where(x_coordinate: @town.x_coordinate - 1, y_coordinate: @town.y_coordinate).first, class: 'btn btn-lg btn-primary btn-block', style: 'background-size:cover; background-image: url(' + Town.where(x_coordinate: @town.x_coordinate - 1, y_coordinate: @town.y_coordinate).first.image_url + ');' do %><%= fa_icon 'arrow-circle-left lg' %> WEST<br><%= Town.where(x_coordinate: @town.x_coordinate - 1, y_coordinate: @town.y_coordinate).first.name %><% end %><br>
      <% else %>
      <%= link_to new_town_path(@town, x_coordinate: @town.x_coordinate - 1, y_coordinate: @town.y_coordinate), class: 'btn btn-lg btn-success btn-block' do %><%= fa_icon 'arrow-circle-left lg' %> WEST<br>
      Discover New Location<% end %>
      <% end %>
    </center>
  </div>
  <div class='col-md-6'>
    <center>
      <% if Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate + 1).first.presence %>
      <%= link_to  Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate + 1).first, class: 'btn btn-lg btn-primary btn-block', style: 'background-size:cover; background-image: url(' + Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate + 1).first.image_url + ');' do %><%= fa_icon 'arrow-circle-up lg' %> NORTH<br><%= Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate + 1).first.name %><% end %><br>
      <% else %>
      <%= link_to new_town_path(@town, x_coordinate: @town.x_coordinate + 1, y_coordinate: @town.y_coordinate), class: 'btn btn-lg btn-success btn-block' do %><%= fa_icon 'arrow-circle-up lg' %> NORTH<br>
      Discover New Location<% end %><br>
      <% end %>
      <div class="animated fadeIn jumbotron" style="background-size:cover; background-image: url(<%= @town.image_url %>);">
        <h1 style="color: #fff; text-shadow: 2px 2px #000;"><%= @town.name %> </h1>
        <p style="color: #fff; text-shadow: 2px 2px #000;"><%= @town.description %></p>
        <h3>
          <span class='label label-success'>Rank: #</span>
          <span class='label label-info'>Guild Wins:  </span>
        </h3>
      </div>
      <% if Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate - 1).first.presence %>
      <%= link_to  Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate - 1).first, class: 'btn btn-lg btn-primary btn-block', style: 'background-size:cover; background-image: url(' + Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate - 1).first.image_url + ');' do %><%= fa_icon 'arrow-circle-down lg' %> SOUTH<br><%= Town.where(x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate - 1).first.name %><% end %><br>
      <% else %>
      <%= link_to new_town_path(@town, x_coordinate: @town.x_coordinate, y_coordinate: @town.y_coordinate - 1), class: 'btn btn-lg btn-success btn-block' do %><%= fa_icon 'arrow-circle-down lg' %> SOUTH<br>
      Discover New Location<% end %>
      <% end %>
    </center>
  </div>
  <div class='col-md-3'>
    <center><br><br><br><br>
      <% if Town.where(x_coordinate: @town.x_coordinate + 1, y_coordinate: @town.y_coordinate).first.presence %>
      <%= link_to  Town.where(x_coordinate: @town.x_coordinate + 1, y_coordinate: @town.y_coordinate).first, class: 'btn btn-lg btn-primary btn-block', style: 'background-size:cover; background-image: url(' + Town.where(x_coordinate: @town.x_coordinate + 1, y_coordinate: @town.y_coordinate).first.image_url + ');' do %><%= fa_icon 'arrow-circle-right lg' %> EAST<br><%= Town.where(x_coordinate: @town.x_coordinate + 1, y_coordinate: @town.y_coordinate).first.name %><% end %><br>
      <% else %>
      <%= link_to new_town_path(@town, x_coordinate: @town.x_coordinate + 1, y_coordinate: @town.y_coordinate), class: 'btn btn-lg btn-success btn-block' do %><%= fa_icon 'arrow-circle-right lg' %> EAST<br>
      Discover New Location<% end %>
      <% end %>
    </center>
  </div>
</div>
<hr>
<div class='row'>
  <div class='col-md-4'>

  </div>
  <div class='col-md-4'>
    <% if User.where(town_id: @town.id).presence then @pets = Pet.where(user_id: User.where(town_id: @town.id).first.id) %>
    <%= render 'static_pages/leaderboard', top_doge: @pets.order('ghost_wins + against_ghost_wins DESC').limit(10) %>
    <% end %>
  </div>
  <div class='col-md-4'>
    Current Users At Location<br>
    <% @residing_users = User.where(town_id: @town.id) %>
    <% @residing_users.each do |f| %>
    <%= link_to f.dogetag, f %><br>
    <% end %>
  </div>
</div>
