<!DOCTYPE html>
<html>
<head>
  <title>Dogemon</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag "forem" %>
<%= javascript_include_tag "forem" %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

  <body>

    <div class="navbar navbar-default navbar- navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, style: 'padding-top: 19px; height:70px', class: "navbar-brand" do %>
            <!--<i class="fa fa-bitcoin"></i> <strong>ProjectDoge</strong> v0.01 -->
          <strong class='text-'>DOGE</strong><span class='text-default'>MON</span> - <span class='text-primary'>BETA</span>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">  
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li> 
              <%= link_to main_app.user_path(current_user), class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Profile", 'data-placement' => 'bottom' do %>
                <i class="fa fa-user fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to main_app.items_grid_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Market", 'data-placement' => 'bottom' do %>
                <i class="fa fa-tag fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to main_app.pvp_battles_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Battle Arena", 'data-placement' => 'bottom' do %>
              <i class="fa fa-bomb fa-2x"></i> 
              <!--<span class="badge"><% current_user.num_active_turns %></span>-->
              <% end %>
            </li>
            <li> 
              <%= link_to main_app.leaderboard_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Leaderboard", 'data-placement' => 'bottom' do %>
                <i class="fa fa-list fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to main_app.users_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Players", 'data-placement' => 'bottom' do %>
                <i class="fa fa-group fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to main_app.wallet_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Wallet", 'data-placement' => 'bottom' do %>
                <i class="fa fa-money fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to main_app.how_to_play_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Help", 'data-placement' => 'bottom' do %>
                <i class="fa fa-question fa-2x"></i>
              <% end %>
            </li>
           </ul> 
          </ul>
          <ul class="nav navbar-nav navbar-right">
           
            <%= link_to  logout_path, class: "btn btn-default", style: 'margin-top: 18px', :method => :delete do %><i class="fa fa-arrow-left"></i> Log out<% end %> 

		
          </ul>
        
<% else %>
          <ul class="nav navbar-nav">
          <li>
            <%= link_to "How to Play", main_app.how_to_play_path %>
            </li>
            <li>
              <%= link_to "About", main_app.about_path %>
            </li>
            
            <li>
              
            </li>
          
          </ul>
    <ul class="nav navbar-nav navbar-right">
    <form class="navbar-forform-">
      <%= link_to "Sign In", main_app.new_user_session_path, class: "btn btn-default" %> | <%= link_to "Sign Up", main_app.new_user_registration_path, class: "btn btn-primary" %>
      </form>
    </ul>
   <% end %>
   </div>
    </div>
    </div>
    </div>
    </div>
  </div>

  <%= render 'layouts/messages' %>
<%= yield %>
<hr>
  <strong>
    <center>&copy; Dogemon, 2014 <br>
      <%= link_to "How to Play", main_app.how_to_play_path %> | <%= link_to "Blog & Updates", main_app.posts_path %> | <%= link_to "Roadmap", main_app.roadmap_path %> | <%= link_to "Feedback", main_app.new_feedback_path %> | <%= link_to "About", main_app.about_path %> | <%= link_to "Contact", "https://twitter.com/JamesSteininger" %> | <%= link_to "Terms & Conditions", main_app.legal_path %><br><br>
</body>
</html>
