<!DOCTYPE html>
<html>
<head>
  <title>ProjectDoge</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>

  <body>
    
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            <!--<i class="fa fa-bitcoin"></i> <strong>ProjectDoge</strong> v0.01 -->
          <div class="img-">ProjectDoge</div>
          <% end %>
        </div>
        <div class="collapse navbar-collapse">  
        <% if user_signed_in? %>
          <ul class="nav navbar-nav">
            <li> 
              <%= link_to current_user, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Profile", 'data-placement' => 'bottom' do %>
                <i class="fa fa-user fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to items_grid_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Market", 'data-placement' => 'bottom' do %>
                <i class="fa fa-tag fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to pvp_battles_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Battles", 'data-placement' => 'bottom' do %>
                <i class="fa fa-bomb fa-2x"></i> <span class="badge"><%= PvpBattle.count %></span>
              <% end %>
            </li>
            <li> 
              <%= link_to users_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Friends", 'data-placement' => 'bottom' do %>
                <i class="fa fa-group fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to wallet_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Wallet", 'data-placement' => 'bottom' do %>
                <i class="fa fa-money fa-2x"></i>
              <% end %>
            </li>
            <li> 
              <%= link_to how_to_play_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Help", 'data-placement' => 'bottom' do %>
                <i class="fa fa-question fa-2x"></i>
              <% end %>
            </li>
            
		
          </ul>
        
<% else %>
          <ul class="nav navbar-nav">
          <li>
            <%= link_to "How to Play", how_to_play_path %>
            </li>
            <li>
              <%= link_to "About", about_path %>
            </li>
            
            <li>
              
            </li>
          
          </ul>
    <ul class="nav navbar-nav navbar-right">
    <form class="navbar-form form-right">
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-default" %> | <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
      </form>
    </ul>
   <% end %>
   </div>
    </div>
    </div>
    </div>
    </div>
  </div>
<div class="container">
<%= yield %>
<hr>
    <center>&copy; ProjectDoge, 2014 <br>
      <%= link_to "How to Play", how_to_play_path %> | <%= link_to "About", about_path %> | <%= link_to "Contact", "https://twitter.com/JamesSteininger" %><br><br>
</body>
</html>
